services:
  database:
    image: postgres:15-alpine
    container_name: config_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
    ports:
      - "5432:5432"  
    
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s     
      timeout: 5s
      retries: 5
      start_period: 10s 

  config-api:
    build: .
    container_name: config_api
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}
      API_USER: ${API_USER}
      API_PASSWORD: ${API_PASSWORD}
    
    depends_on:
      database:
        condition: service_healthy
    restart: always

volumes:
  postgres_data: